#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0

            bindings = <
                &kp ESC &kp F1 &kp GRAVE &kp N1 &kp TAB &kp Q &kp CAPSLOCK &kp A &kp LSHIFT &kp Z &kp G &kp K &kp N3 &kp N4
                


                

            >;
        };
    };
 };
